<h3> Cast </h3>
<div *ngIf="casts.length==0">
    <div class="text-danger">There are no casts..</div>
</div>
<div *ngFor="let cast of casts" class="row">
    <div class="col-3" *ngIf="cast.person.image">
        <img [src]="cast.person.image['medium']" class="img-thumbnail slika">
    </div>
    <div class="col-3" *ngIf="!cast.person.image">
        <img src="../../assets/images/24-248253_user-profile-default-image-png-clipart-png-download.png" class="img-thumbnail slika">
    </div>
    <div class="col-9">
        <h2>{{cast.person['name']}} </h2>
    </div>
</div>