<div class="spinner-border cent" *ngIf="!load"></div>
<div class="container" *ngIf="show && load">
    <h5 class="text-info"><a [href]="show.officialSite" class="aHead">{{show.name}}</a></h5>
    <div class="row">
        <div class="col-3 thumb" *ngIf="show.image">
            <img [src]="show.image['medium'] | missing:'../../assets/images/default-movie-portrait'" class="img-thumbnail test">
        </div>
        <div class="col-3 thumb" *ngIf="!show.image">
            <img src="../../assets/images/default-movie-portrait.jpg" class="img-thumbnail test">
        </div>
        <div class="col-9">
            <div *ngIf="show.summary" [innerHTML]="show.summary"></div>
            <div *ngIf="!show.summary"> Summary comming soon... </div>
            <div>Language: {{show.language}}</div> 
            <div>Genres: {{show.genres}} </div>
            <div>Status: {{show.status}} </div>
            <div>Premiered: {{show.premiered}} </div>
            <div *ngIf="show.officialSite">Official site: <a [href]="show.officialSite">{{show.officialSite}}</a></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <h3> Casts </h3>
            <div class="row" *ngFor="let cast of casts">
                <div class="col-4">
                    <img [src]="cast.image['medium'] | missing:'../../assets/images/24-248253_user-profile-default-image-png-clipart-png-download.png'" class="img-thumbnail">
                </div>
                <div class="col-8">
                    <div>
                        <h4>{{cast.name}}</h4>
                    </div>
                </div>
            </div>
            <div *ngIf="casts.length==0" class="text-danger"> There are no known casts.. </div>
        </div>
        <div class="col-6">
            <h3>Episodes</h3>
            <div *ngFor="let episode of episodes">
                <strong>S{{episode.season}}E{{episode.number}} - {{episode.name}}</strong>
            </div>
            <div *ngIf="episodes.length==0" class="text-danger">There are no episodes for this show..</div>
        </div>
    </div>
</div>